@import "bootstrap/variables";

.dropdown-menu {
  padding: 0px;

  > li > a {
    padding: 10px 15px;
  }
  > li:last-child > a {
    border-bottom-right-radius: $border-radius-base - 1;
    border-bottom-left-radius: $border-radius-base - 1;
  }
  .dropdown-header {
    padding: 10px 15px 0px 15px;
  }
  .divider {
    margin: 0px;
  }
}
